@page "/"

<PageTitle>AppInspect</PageTitle>

<h1>Welcome to AppInspect</h1>

<div class="mt-4">
    <p>AppInspect helps you research Android apps and Google Play.</p>
</div>

<div class="mt-2">
    <ul>
        <li>
            <p><strong>Store Query:</strong> &nbsp;Query Google Play and retrieve Android Application Packages (APKs)</p>
        </li>
        <li>
            <p><strong>APK Analysis:</strong> &nbsp;Scan APKs to extract knowledge</p>
        </li>
        <li>
            <p><strong>APK Retrieval:</strong> &nbsp;Upload APKs manually from your device</p>
        </li>
    </ul>
</div>

