@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://www.mediacoop.uni-siegen.de/en/" target="_blank">By Subproject P03 of SFB 1187 "Media of Cooperation" of Uni Siegen</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
